.header {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.header img {
  width: 100%;
  height: 70vh !important;
  object-fit: cover;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.slider{
  margin-left: 100px;
}

.swiper-button-next, .swiper-button-prev {
  color: black;
}

.swiper-button-next {
  right: 10px;
}
.swiper-button-prev {
  left: 10px;
}
