.header {
  position: relative;
  text-align: center;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  margin-bottom: 500px !important;
}

.slider{
  margin-left: 100px;
}

.swiper-button-next, .swiper-button-prev {
  color: black;
}

.swiper-button-next {
  right: 10px;
}
.swiper-button-prev {
  left: 10px;
}
